.AssetGridArea {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 84vw;
    height: 90vh;
    background-color: #1b1b1b67;
}

.AssetGridArea .Grid {
    color: white;
    font-size: 24px;
}

.AssetGridArea .Grid .MuiTablePagination-root {
    color: white;
    font-size: 24px;
    font-family: 'Montserrat'sans-serif
}

* {
    padding: 0;
}