@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");

.date {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: #1b1b1b67;
    background-color: #1b1b1b67;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 3rem;
}

.rows {
    position: absolute;
    white-space: nowrap;
    width: 85vw;
    margin-right: 1%;
    overflow-y: scroll;
}

.rows th,
td {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.rows th {
    font-size: 26px;
    letter-spacing: 0.1em;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.rows td {
    padding: 1rem;
    font-size: 20px;
}

.rows td input {
    width: 85%;
    background-color: #1b1b1b67;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    border-style: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1rem;
    padding-right: 10%;
    border-radius: .2rem;
}

.rows td input.invalid {
    border-color: red;
    border-style: solid;
    animation: shake .3s;
}

.delete-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    align-items: center;
}


.job_list li {
    list-style-type: none;
}

.job_list li:hover {
    background-color: rgba(138, 138, 138, 0.404);
}

.job_list li button {
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #1b1b1b67;
    font-size: 20px;
    border-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.job_list .is-highlighted {
    background-color: rgba(138, 138, 138, 0.404);
}

.job_list ul {
    position: absolute;
    background-color: #1b1b1b;
    border-radius: 0;
    align-items: left;
    max-height: 70vh;
    overflow: scroll;
}

.job_list__value {
    background-color: transparent;
}

.AddAssetPrompt {
    display: none;
    position: absolute;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
    min-width: 30vw;
    max-width: 80vw;
    min-height: 60vh;
    max-height: 80vh;
    background-color: #1b1b1bef;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.AddAssetPrompt * {
    color: white;
    margin: 2rem;
}

.AddAssetPrompt input {
    width: 50%;
    background-color: #1b1b1b;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    border: white solid 3px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1rem;
    padding-right: 10%;
    border-radius: .5rem;
}

.AddAssetPrompt input.invalid {
    border-color: red;
    border-style: solid;
    animation: shake .3s;
}

.Show {
    display: flex;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}