@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");

.App {
    text-align: center;
    overflow: hidden;
    padding: 0px;
    background-color: #2C2F33
}

.Content {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    padding: 0px;
}




/* 
    SIDE BAR
*/

.SideBar {
    left: 0;
    top: 0;
    height: 99vh;
    width: auto;
    position: absolute;
    background-color: #1b1b1b67;
    text-align: left;
    padding-top: 1vh;
    overflow-y: scroll;
    animation: ease-in-out .5s;
    max-width: 13vw;
}

.SideBar * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SideBar span {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    width: 11vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.SideBar p {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    cursor: pointer;
}

.SideBar li {
    cursor: pointer;
    max-width: 13vw;
}

.SideBar .DropDown {
    padding-left: 3vw;
    width: auto;
    display: none;
    list-style: none
}

.Show {
    display: inline-block !important;
}

.SideBar .DropDown .Animate {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

.DropDown p {
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: normal;
}

.DropDown p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.DropDown p:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.DropDownArrow {
    transition: scaleY(1) .4s ease-in-out;
}

.Header {
    width: 87vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    top: 0;
    right: 0;
}

.SearchBox {
    background: #1b1b1b67;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
}

.searchButton {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background: white;
}

.searchButton * {
    color: #1b1b1b99;
    cursor: pointer;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    padding: 0 12px;
}

.Header .IconGroup {
    display: flex;
    padding: 1rem;
    right: 0;
}

.Header .IconGroup * {
    padding: .5rem;
}

.Header .ProfileSection * {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Header .ProfileSection {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.Header .HeaderDropDown {
    display: block;
    position: absolute;
    background-color: #1b1b1bc5;
    min-width: 80px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    z-index: 9;
    right: 4rem;
    left: initial;
    border-radius: 1rem;
    padding: 1rem;
    max-height: 85vh;
    overflow-y: scroll;
}

.Header .HeaderDropDown * {
    padding: .5rem;
    margin: 0;
    font-weight: 100;
}

.Header h5 {
    float: left;
}

.Header .HeaderDropDown hr {
    padding: 0;
    margin: 0;
    width: 90%;
    size: 1px;
}

.Header .HeaderDropDown .inlineText {
    padding: 0;
    margin: 0;
}

.deleteSpan {
    transition: ease-in-out .5s;
}

.deleteSpan:hover {
    position: relative;
    border-bottom: 1px solid;
}

.Header .HeaderDropDown .inlineText * {
    padding: 0;
    margin: .2em;
}

.Header .HeaderDropDown .Notification {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
}

.Header .HeaderDropDown .Notification .NotificationTitleRow {
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.Header .HeaderDropDown .Notification .break {
    flex-basis: 100%;
    height: 0;
    padding: 0;
    margin: 0;
}

.Header .HeaderDropDown .Notification .DateAndManagementGroup {
    padding: 0;
}

.Header .HeaderDropDown .Notification .DateAndManagementGroup * {
    padding: 0;
}

.Header .HeaderDropDown .Notification .NotificationManagementRow * {
    font-size: 1.1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.NotificationManagementRow {
    justify-content: right;
    display: flex;
}

i {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.NoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* .Header .HeaderDropDown .Notification .NotificationManagementRow {
    display: flex;
    width: 480px;
    justify-content: right;
    margin: 0;
    padding: 0;
} */





* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.body {
    padding-bottom: 0px;
    scrollbar-width: none;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}