.TopNav {
    position: absolute;
    left: 14vw;
    top: 0;
    height: 10vh;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ReportDate {
    color: white;
    border-style: solid;
    border-color: #1b1b1b67;
    background-color: #1b1b1b67;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 3rem;
}

.AssetArea .ReportDate {
    padding: 1rem;
    margin: 1rem;
}

.UserReports {
    width: 48%;
    margin: 1%;
    background-color: #1b1b1b67;
    text-align: center;
    overflow-y: scroll;
    border-radius: .5rem;
}

.UserReports :hover {
    border-width: 0;
}

.AssetArea .UserReports .UserReport {
    width: auto;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
}

.UserReport h1 {
    padding: .4rem;
    font-size: 2rem;
}